<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="root.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="./styles/opening.css">
</head> 
<body>
    <main class="default-main">
        <div class="opening-header-top">
            <span class="opening-header-top-title">Natsujou no Spectrum</span>
            <span class="opening-header-top-series">Nanatsu No Taizai</span>
        </div>
        <div class="opening-container">
            <div class="opening-header">
                <img class="opening-image" src="http://img.youtube.com/vi/Ot99IBCFKZ0/0.jpg">
                <div class="opening-statistics">
                    <div style="display: flex; flex-direction: row; gap: 10px; margin: 0px 0px 5px 0px;">
                        <span class="info-card">Op. 1</span>
                        <span class="info-card-alt">T1Op1</span>
                    </div>
                    <div class="opening-score">
                        <span class="opening-score-label">SCORE</span>
                        <span class="opening-score-number">8.76</span>
                    </div>
                    <span class="opening-statistics-rank">Rank <b>#1</b></span>
                </div>
            </div>
            <div class="opening-body">
                <div class="opening-review-container">
                    <div class="opening-review-box">
                        <div class="opening-review-circle opening-review-circle-blue">5.1</div>
                        <span>Música</span>
                    </div>
                    <div class="opening-review-box">
                        <div class="opening-review-circle opening-review-circle-red">5.1</div>
                        <span>Animação</span>
                    </div>
                    <div class="opening-review-box">
                        <div class="opening-review-circle opening-review-circle-purple">5.1</div>
                        <span>Composição</span>
                    </div>
                    <div class="opening-review-box">
                        <div class="opening-review-circle opening-review-circle-green">5.1</div>
                        <span>Replay</span>
                    </div>
                    <div class="opening-review-box">
                        <div class="opening-review-circle opening-review-circle-yellow">5.1</div>
                        <span>Pessoal</span>
                    </div>
                </div>
                <div class="opening-relation-container">
                    <span class="opening-relation-title">Relações</span>
                    <div class="opening-relation-entry">
                        <img class="opening-relation-image-series" src="https://cdn.myanimelist.net/images/anime/8/65409l.jpg">
                        <div class="opening-relation-info">
                            <a href="">Nanatsu no Taizai</a>
                            <span>Series</span>
                        </div> 
                    </div>
                </div>
                <div class="opening-rvs-container">
                    <span class="opening-relation-title">Reviews</span>
                    <table class="opening-rvs-table">
                        <tr class="opening-rvs-tr">
                            <td>
                                <div class="opening-rvs-separator" style="width: 90px;">
                                    <img class="opening-rvs-avatar" src="https://cdn.discordapp.com/avatars/769655076783390830/02c0a728ed57e915a59e63af290b6684.webp">
                                    <span>Kitsune</span>
                                </div>
                                <div style="display: flex; flex-direction: row; gap: 5px;">
                                    <div class="opening-rvs-circle opening-review-circle-blue">5.1</div>
                                    <div class="opening-rvs-circle opening-review-circle-red">5.1</div>
                                    <div class="opening-rvs-circle opening-review-circle-purple">5.1</div>
                                    <div class="opening-rvs-circle opening-review-circle-green">5.1</div>
                                    <div class="opening-rvs-circle opening-review-circle-yellow">5.1</div>
                                </div>
                                <div>
                                    <div class="default-score">
                                        <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/2b50.svg">
                                        <span>8.76</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="opening-rvs-tr">
                            <td>
                                <div class="opening-rvs-separator" style="width: 90px;">
                                    <img class="opening-rvs-avatar" src="https://cdn.discordapp.com/avatars/1286425763268132998/007bbc77a21b5bfb9dc0a2cb89f166b3.webp">
                                    <span>Skyre</span>
                                </div>
                                <div style="display: flex; flex-direction: row; gap: 5px;">
                                    <div class="opening-rvs-circle opening-review-circle-blue">5.1</div>
                                    <div class="opening-rvs-circle opening-review-circle-red">5.1</div>
                                    <div class="opening-rvs-circle opening-review-circle-purple">5.1</div>
                                    <div class="opening-rvs-circle opening-review-circle-green">5.1</div>
                                    <div class="opening-rvs-circle opening-review-circle-yellow">5.1</div>
                                </div>
                                <div>
                                    <div class="default-score">
                                        <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/2b50.svg">
                                        <span>8.76</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
           
        </div>
    </main>

</body>
</html>