@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/workSans.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand.ttf') format('truetype');
}
  
  :root {
    --main-pink:      #F58;
    --alt-pink:       #F69;
    --dark-pink:      #F35;
    --darkest-pink:   #D05;
    --main-purple:    #A6F;
    --alt-purple:     #95F;
    --dark-purple:    #53F;
    --darkest-purple: #50D;
    --darkest:      #0F0F1A;
    --darker:       #1b1b2b;
    --dark:         #2b2b3b;
    --pre-dark:     #3b3b4F;
    --mid-dark:     #4b4b6b;
    --mid:          #6b6b8b;
    --mid-light:    #8080A0;
    --pre-light:    #8b8b9F;
    --light:        #AAC;
    --lighter:      #CCE;
    --lightest:     #EEF;
    --rainbow: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    --plx-danger:     #F02040;
    --plx-green:      #31e2b4;
    --plx-dark-green: #5A8;
    --plx-yellow:     #FC2;
    --plx-rose:       #f79;
    --plx-salmon:     #F87;
    --plx-blue:       #56F;
    --plx-nsfw: var(--plx-danger);
    --shadow: #05050F25;
    --box-gutter: 24px;
    --code-main-color: #D27;
    --code-main-border:  1px solid #472541F1;
    --code-main-bg: #2c1d2f;
    --code-misty-color:cadetblue;
    --code-misty-border: 1px solid #39354a;
    --code-misty-bg: #1d1721;
    --main-font: 'Varela Round';
    --second-font: 'Nunito';
    --third-font: 'Quicksand';
    --strong-font: 'Proxima Soft';
    --display-font: 'Panton';
    --mono-font: 'Share Tech Mono', monaco, monospace;
    --select: var(--alt-purple);
    --select-bg: var(--lightest)
    }
  html {
    --color-contrast: white;
    --color-contrast-dim:   #FFFD;
    --text-accent: white;
    --text-accent-dim:  #FFFD;
    --text-lightest:  #FFF;
    --text-extra-bold: var(--lightest,#AAC);
    --text-bold: var(--lighter,#AAC);
    --text-main: var(--light,#AAC);
    --text-faint: var(--pre-light,#668);
    --text-dim: var(#99AA);
    --text-dim-mid: var(--pre-light,#88a);
    --text-inverse: var(--dark,#2b2b3b);
    --accent-color: var(--main-pink, #f35);
    --accent-color-mid: var(--dark-pink, #F13151);
    --accent-color-strong: var(--dark-pink, #F13151);
    --accent-color-dark: var(--darkest-pink, #D05);
    --secondary-color: var(--main-purple, #95F);
    --secondary-color-alt: var(--alt-purple, #C7D);
    --mid-main: var(--light2);
    --bg-main: var(--darker);
    /*--bg-main: linear-gradient(190deg, var(--darker) 30%,var(--darkest));*/
    --bg-dark: var(--dark);
    --bg-darker: var(--darker);
    --bg-darkest: var(--darkest);
    --bg-opaque: #2A2A3B44;
    --bg-inverse: var(--lightest, #EEF);
    --bg-card: white;
    --links: #87f;
    --links-hover: #8Af;
    --link-head: inherit;
    --link-head-hover: var(--alt-pink);
    --divider-color: var(--pre-light);
    --heading-divider-color: var(--lighter);
    --muted: #99AA;
    --light-border: var(--light);
    --dark-border: var(--dark);
    --dark-dim: #27233775;
  --dark-dimmer: #0d0d1796;
  --dark-dimmest: #100c2b59;
  --text-shadow: #000;
  
  }
  
  .supershadowTools, .supershadowTools *{
    --text-shadow: var(--line-col,#112);
    --outline-1: 1px 1px 1px var(--line-col), -1px -1px 1px var(--line-col),
      -1px 1px 1px var(--line-col), 1px 0px 1px var(--line-col),
      -1px 0px 1px var(--line-col), 0px 1px 1px var(--line-col),
      0px -1px 1px var(--line-col);
    --outline-2: 2px 2px 0px var(--line-col), 2px -2px 1px var(--line-col),
      -2px -2px 1px var(--line-col), -2px 2px 1px var(--line-col),
      2px 0px 1px var(--line-col), 2px 0px 0px var(--line-col),
      -2px 0px 0px var(--line-col), 0px 2px 0px var(--line-col),
      0px -2px 0px var(--line-col), -2px 0px 0px var(--line-col),
      0px 2px 0px var(--line-col), 0px -2px 1px var(--line-col);
    --extrusion: -2px 3px 1px var(--line-col), -1px 4px 1px var(--line-col),
      3px 2px 1px var(--line-col), 4px 1px 1px var(--line-col),
      0px 5px 1px var(--line-col), 1px 6px 1px var(--line-col),
      3px 6px 1px var(--line-col);
    --extrusion-1: 1px 1px 1px var(--line-col), 2px 2px 1px var(--line-col),
      3px 3px 1px var(--line-col);
    --thin-drop: drop-shadow(2px 1px 0px var(--line-col));
  }
  .supershadowTitle {
    text-shadow: 0 -2px 0 var(--text-shadow), 0 2px 0 var(--text-shadow),
      2px 0 0 var(--text-shadow), -2px 0 0 var(--text-shadow),
      -4px 2px 0 var(--text-shadow), -2px 4px 0 var(--text-shadow);
    filter: drop-shadow(0 0 1px var(--text-shadow))
      drop-shadow(-1px 1px 0px var(--text-shadow))
      drop-shadow(0 0 0px var(--text-shadow))
      drop-shadow(-1px 0 0px var(--text-shadow))
      drop-shadow(-1px 0 0px var(--text-shadow))
      drop-shadow(-1px 0 0px var(--text-shadow))
      drop-shadow(-1px 0 0px var(--text-shadow));
  }
  .supershadowText {
    text-shadow: 0 -1px 0 var(--text-shadow), 0 1px 0 var(--text-shadow),
      1px 0 0 var(--text-shadow), -1px 0 0 var(--text-shadow),
      -2px 1px 0 var(--text-shadow), -1px 2px 0 var(--text-shadow);
    filter: drop-shadow(0 0 1px var(--text-shadow))
      drop-shadow(-1px 1px 0px var(--text-shadow))
      drop-shadow(0 0 0px var(--text-shadow))
      drop-shadow(-1px 0 0px var(--text-shadow));
  }
  
  .supershadowToolsLight, .supershadowToolsLight * {
    --text-shadow: var(--line-col, #112);
    --outline: 
      1px 1px var(--text-shadow), -1px -1px var(--text-shadow),
      -1px 1px var(--text-shadow), 1px -1px var(--text-shadow);
    --extrusion: 
      -2px 3px var(--text-shadow), 1px 4px var(--text-shadow),
      3px 2px var(--text-shadow), 4px 1px var(--text-shadow);
    --thin-drop: drop-shadow(2px 1px var(--text-shadow));
  }
  
  .supershadowTitleLight {
    text-shadow: var(--outline), -2px 4px var(--text-shadow);
    filter: drop-shadow(0 0 1px var(--text-shadow)) 
            drop-shadow(-3px 3px var(--text-shadow));
  }
  
  .supershadowTextLight {
    text-shadow: var(--outline), -2px 1px var(--text-shadow);
    filter: drop-shadow(0 0 1px var(--text-shadow)) 
            drop-shadow(-1px 1px var(--text-shadow));
  }
  
  img {
    pointer-events: none;
    user-select: none; /* Impede a seleção de texto */
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }