<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./styles/root.css">
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
</head> 
<body>
    <main class="default-main">
        <table class="default-table">
            <tr>
                <th>Rank</th>
                <th>Título</th>
                <th>Pontuação</th>
            </tr>
            <tr class="row-toggle">
                <td class="default-rank">1</td>
                <td class="default-title-col">
                    <img class="default-title-col-image" src="http://img.youtube.com/vi/Ot99IBCFKZ0/0.jpg">
                    <div class="default-title-col-info">
                        <a class="info-title" href="">Netsujou no Spectrum</a>
                        <div style="display: flex; flex-direction: row; gap: 10px; margin: 0px 0px 5px 0px;">
                            <span class="info-card">Op. 1</span>
                            <span class="info-card-alt">T1Op1</span>
                        </div>
                        <span class="info-series">Nanatsu no Taizai</span>
                        <span class="info-series">Ikimonogakari</span>
                    </div>
                </td>
                <td>
                    <div class="default-score">
                        <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/2b50.svg">
                        <span>8.76</span>
                    </div>
                </td>
                <!--td class="default-toggle-container">
                    <div class="default-toggle row-toggle">+</div>
                </td-->
            </tr>
        </table>
    </main>

</body>
</html>